@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #5aa469;
  --link-color: #efb08c;
  --text-color: #f8d49d;
  --emphasize-color: #d35d6e;
  --title-font: "IBM Plex Serif", serif;
  --text-font: "Work Sans", sans-serif;
}

section#homepage {
  background: linear-gradient(to bottom left, #efb08c 50%, #f8d49d 50%);
  display: flex;
  height: calc(100vh - 41px);
  justify-content: center;
  align-items: center;
  text-align: center;
}

section#about {
  background: var(--text-color);
  height: calc(100vh - 41px);
}

section#projects {
  background-color: var(--text-color);
}

section#contact {
  background-color: var(--link-color);
  height: 100vh;
  position: relative;
}

span.logo-name {
  color: var(--text-color);
  cursor: none;
  font-family: var(--title-font);
  padding-left: 12px;
  text-decoration: none;
  text-transform: lowercase;
  word-spacing: 5px;
}

button.navbar-button:focus {
  box-shadow: none;
  outline-style: none;
}

footer {
  color: var(--text-color);
  font-family: var(--text-font);
  font-size: 12px;
  height: 65px;
  opacity: 0.8;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

a.github-repository {
  color: var(--text-color);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar-custom {
  background-color: var(--emphasize-color);
}

.logo-img {
  cursor: none;
  max-width: 50px;
}

.nav-link-custom {
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: 400;
  text-transform: lowercase;
  transition: 300ms ease-in-out;
  word-spacing: 10px;
}

.nav-link-custom:hover {
  color: var(--link-color);
  text-decoration: underline;
}

.scroller {
  height: calc(100vh - 41px);
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller section {
  scroll-snap-align: start;
}

.introduction {
  color: var(--main-color);
  font-family: var(--text-font);
  font-size: 25px;
  font-weight: 300;
}

.my-name {
  color: var(--emphasize-color);
  font-family: var(--title-font);
  font-size: 50px;
  font-style: italic;
  font-weight: 700;
}

.presentation,
.project-page,
.social {
  color: var(--emphasize-color);
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 400;
  padding: 20px;
  text-align: center;
}

.about-me {
  display: flex;
  height: 75%;
  justify-content: center;
  align-items: center;
}

.my-photo {
  max-width: 250px;
  margin: 20px;
}

.about-jessica {
  color: var(--main-color);
  display: inline;
  font-family: var(--text-font);
  font-size: 18px;
  max-width: 700px;
  padding-left: 10px;
  text-indent: 30px;
}

.project-link {
  color: var(--main-color);
  opacity: 0.8;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.project-link:hover,
.github-repository:hover {
  color: var(--emphasize-color);
  text-decoration: underline;
}

.social-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--text-font);
  height: 75%;
  justify-content: center;
  text-transform: lowercase;
}

.social-custom {
  align-items: center;
  display: flex;
  line-height: 3;
  text-align: center;
  width: 19vw;
}

.social-link {
  color: var(--emphasize-color);
  font-size: 25px;
  transition: 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.social-link:hover {
  color: var(--text-color);
  opacity: 0.9;
}

.link-name {
  color: var(--main-color);
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1.5px;
  opacity: 0.7;
  padding-left: 20px;
}

.grid-custom {
  display: flex;
  align-items: center;
}

.project-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-name {
  color: var(--emphasize-color);
  font-family: var(--title-font);
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.projects-img {
  border-radius: 10px;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.about-project {
  color: var(--link-color);
  font-family: var(--text-font);
  font-size: 14px;
}

.project-link-btn {
  background: var(--link-color);
  border-radius: 50px;
  color: var(--emphasize-color);
  font-size: 12px;
  padding: 15px 35px;
  text-decoration: none;
  transition: 300ms ease-in-out;
}

.project-link-btn:hover {
  background: var(--emphasize-color);
  color: var(--text-color);
  font-size: 14px;
}

@media (max-width: 767px) {
  .navbar-custom {
    position: sticky;
  }
  .custom-container {
    margin: 0 !important;
  }

  .introduction,
  .presentation,
  .social,
  .project-page,
  .project-name,
  .social-link {
    font-size: 20px;
  }

  .my-name {
    font-size: 40px;
  }

  .about-me {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .my-photo {
    max-width: 150px !important;
  }

  .about-jessica,
  .link-name {
    font-size: 14px;
  }

  .about-project {
    text-align: center;
  }

  .projects-img {
    display: none;
  }

  .project-link {
    padding: 8px 16px;
  }

  .telephone-number {
    text-decoration: none;
  }

  .social-custom {
    width: 45vw;
  }
}
